code/nodered/persistence.json
[{"id":"4df650b2.db5d9","type":"mqtt in","z":"3a0b519e.d303e6","name":"","topic":"gateway/+/uplink","qos":"2","datatype":"json","broker":"4b6a090b.5c17f","x":140,"y":80,"wires":[["f2a0e6f2.f63af"]]},{"id":"6ac23a73.9bcd44","type":"debug","z":"3a0b519e.d303e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":140,"wires":[]},{"id":"d24d7e28.23b84","type":"influxdb out","z":"3a0b519e.d303e6","influxdb":"f857e779.0d613","name":"store","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":490,"y":80,"wires":[]},{"id":"f2a0e6f2.f63af","type":"function","z":"3a0b519e.d303e6","name":"query","func":"msg.measurement = \"common\";\nmsg.payload = [\n    msg.payload.fields,\n    {\"device\": msg.payload.uid}\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["6ac23a73.9bcd44","d24d7e28.23b84"]]},{"id":"4b6a090b.5c17f","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f857e779.0d613","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"cartagena","name":"influxdb","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]